* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  -webkit-box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
          box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
}

.addedItem__minusButton, .addedItem__plusButton {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.card__button, .card .size, .card .price {
  background: rgba(161, 18, 23, 0.662745098);
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 1.3333333333rem;
  font-weight: 400;
  line-height: 2.6666666667rem;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.card__button:hover, .card .size:hover, .card .price:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #e2c499;
}

.header {
  padding: 0 10%;
  width: 100%;
  height: 100px;
  background: #e8a735;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}
.header__logo {
  height: 100%;
}
.header__menu {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.header__link {
  font-family: "Open Sans";
  font-size: 1.6666666667rem;
  font-weight: 500;
  line-height: 1;
  color: #474747;
}
.header__basket {
  cursor: pointer;
  width: 100px;
}
.header__basket img {
  height: 50%;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.header__basket:after {
  content: "0";
  padding: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #c8000a;
  position: relative;
  top: 0;
  left: -10px;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.menu {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2%;
}
.card {
  width: 23%;
  height: 600px;
  background: rgba(161, 18, 23, 0.662745098);
  border-radius: 10px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 10px 30px 10px 130px 10px 40px 10px 40px;
  grid-template-rows: 50% 30px 130px repeat(2, 40px);
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 10px;
}
.card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.card > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.card > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.card > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.card > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.card > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.card > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.card > *:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.card > *:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.card__img {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  position: relative;
}
.card__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card__title {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-family: "Open Sans";
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #161515;
}
.card__description {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-family: "Open Sans";
  font-size: 1.3333333333rem;
  font-weight: 400;
  line-height: 1;
  color: #161515;
}
.card .price {
  color: #474747;
  background: #e2c499;
}
.card .size {
  color: #474747;
  background: #e2c499;
}
.card .size-chozen {
  background: rgb(164, 164, 200);
}
.card__button {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 70%;
}
.card__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  background: #f18b69;
  border-radius: 10px;
  z-index: 21;
}
.modal__close {
  font-size: 2.6666666667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 10px 0 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.modal__close span {
  cursor: pointer;
}
.modal__empty {
  font-family: "Open Sans";
  font-size: 3.3333333333rem;
  font-weight: 500;
  line-height: 1;
  color: #474747;
  text-align: center;
}

.addedItem {
  margin-top: 20px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}
.addedItem__remove {
  font-size: 2rem;
  cursor: pointer;
}
.addedItem__img {
  width: 70px;
  margin-left: 10px;
}
.addedItem__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}
.addedItem__name {
  font-family: "Open Sans";
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #474747;
}
.addedItem__amount {
  width: 50px;
  background: #e2c499;
  border-radius: 5px;
  font-family: "Open Sans";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: #474747;
}
.addedItem__cost {
  width: 100px;
  background: #e2c499;
  border-radius: 5px;
  font-family: "Open Sans";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: #474747;
  margin-right: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4666666667);
  z-index: 20;
}

.hidden {
  display: none;
}