/* *{
   font-family: "Open Sans" sans-serif;
   margin: 0;
} */

.formContainer{
   display: flex;
   align-items: center;
   background-color: #8da4f1;
   justify-content: center;
   height: 100vh;
}
.formWrapper{
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   padding: 20px 60px;
   background-color: white;
   border-radius: 10px;
}
.logo{
   color: #5d5b8d;
   font-size: 24px;
   font-weight: 700;
   font-family:  "Open Sans";
}
.title{
   color: #5d5b8d;
   font-size: 12px;
   font-family:  "Open Sans" sans-serif;
}
form{
   display: flex;
   flex-direction: column;
   gap: 15px;
}
input{
   border: none;
   border-bottom: 1px solid #a7bcff;
   padding: 15px;
   width: 250px;
   /* color: #000; */
   /* font-family:  "Open Sans"; */
   /* font-weight: 400; */
}
.file{
   display: none;
}
label{
   display: flex;
   align-items: center;
   gap: 10px;
   color: #8da4f1;
   cursor: pointer;
   font-size: 12px;
   /* font-family: "Open Sans"; */
}
img{
   width: 32px;
}
button{
   background-color: #7b96ec;
   border: none;
   color: white;
   cursor: pointer;
   font-family:  "Open Sans" sans-serif;
   font-weight: 600;
   padding: 10px;
}
p{
   color: #5d5b8d;
   font-size: 14px;
   margin-top: 10px;
   font-family: "Open Sans" sans-serif; 
}
