@import "nullstyle.scss";
body{
   background: #F9F9F9;
   // min-width: 1920px;
   // min-height: 6797px;
}
%type-text15{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
}
%type-text14{
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #888787;
}

%type-text18-h5{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
}
%type-text36-h3{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 36px;
   line-height: 49px;
}
.button{
   width: 38.44%;
   height: 74px;
   background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
   border: 1px solid #FFFFFF;
   border-radius: 18px;
   font-family: 'Open Sans';
   font-weight: 800;
   font-size: 20px;
   line-height: 27px;
   text-align: center;
   text-transform: uppercase;
   color: #fdfafa;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 26px;
}
.button-img{
   width: 15px;
   height: 15px;
   background: url("Images/vector 6.png");
}
.button-img__white{
   background: url("Images/Vector.png");
}
.container{
   width: 61.04%;
   margin: 0 auto;
   display: flex;
}
%logotype{
   font-family: 'Inter';
   font-weight: 800;
   font-size: 2.86rem;
   text-transform: uppercase;
   background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.header{
   height: 165px;
   padding-top: 50px;
   .container{
      height: 48px;
      justify-content: space-between;
      align-items: center;
   }
   .logotype{
      @extend %logotype;
   }
   .nav{
      width: 539px * 100% / 1170px;
      display: flex;
      justify-content: space-between;
   }
   &__link{
      font-size: 20px;
      font-family: 'Open Sans';
      font-weight: 600;
      line-height: 27px;
   }
   .header__link:hover{
      border-bottom: 5px solid #F74872;
   }
   .button-header{
      width: 20px;
      height: 20px;
      background: url("Images/Vector header.png");
   }
   //-----------------------------------------------
}
.business{
   margin-bottom: 200px;
   .container{
      // height: 9.4%;
      justify-content: space-between;
      gap: 23px;
   }
   &__block{
      display: flex;
      flex-direction: column;
      padding-top: 70px * 100% / 639px;
   }
   &__h2{
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 48px;
      line-height: 65px;
      margin-bottom: 26px;
   }
   &__text{
      width: 64.2%;
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 58px;
   }
   &__icon{
      width: 15px;
      height: 84px;
      display: flex;
      flex-direction: column;
      gap: 6.86px;
      margin-bottom: 46px;
   }
}
//-----------------------------------------------------------
.creative{
   background: #F9F9F9;
   margin-bottom: 107px;
   .container{
      // height: 622px;
      margin-bottom: 100px;
      flex-direction: column;
   }
   &-block-text{
      width: 49.3%;
      margin-bottom: 78px;
   }
   &__h5{
      @extend %type-text18-h5;
      margin-bottom: 27px;
   }
   &__h3{
      @extend %type-text36-h3;
   }
   &__block{
      display: flex;
      // justify-content: flex-start;
      gap: 102px * 100% / 1170px;
   }
   &-menu{
      //width: 65.46%;
      // height: 387px;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 33.3% 33.3%;
      gap: 7.4%;
   }
   &-menu__size{
      display: flex;
      align-items: center;
      gap: 6.51%;
   }
   &__icon{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
   }
   &-menu__text{
      width: 50%;
      flex: 1;
   }
   &__p{
      @extend %type-text15;
   }
   &__h5_1{
      @extend %type-text18-h5;
      padding-bottom: 21px;
   }
   &__p_mod{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
   }
   .button{
      background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      justify-content: flex-start;
   }
}
//----------------------------------------------------------

.ideas{
   background: #F9F9F9;
   margin-bottom: 40px;
   .substruct2{
      position: absolute;
      margin: 0 19.53% 0 69.53%;
      z-index: 0;
   }
   .ideas-img{
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 60px 19.53% 0 57.76%;
      z-index: 2;
      background: url("Images/unsplash_nF8xhLMmg0c.png");
      // background-size: 100%;
      background-repeat: no-repeat;
   }
   .container{
      // height: 455px;
      position: relative;
   }
   &__text{
      width: 66.66%;
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      border-radius: 30px;
      position: relative;
   }
   &__h5{
      @extend %type-text18-h5;
      padding: 70px 0px 30px 8.46%;
   }
   &__h3{
      @extend %type-text36-h3;
      padding: 0px 23.46% 20px 8.46%;
   }
   &__p{
      @extend %type-text15;
      padding: 0px 31.28% 40px 8.46%;
   }
   .button{
      padding-left: 8.46%;
      background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      justify-content: flex-start;
   }
   //-------------------------------------------------------
}
.experience{
   background: #F9F9F9;
   margin-bottom: 100px;
   .subtruct1{
      position: absolute;
      margin: 300px 1346px 0px 304px;
      z-index: 0;
   }
   .experience-img{
      position: absolute;
      margin: 0 58.38% 0 19.32%;
      z-index: 1;
   }
   // .experience-img::before{
   //    content: "";
   //    background: url(Images/Subtract1.png);
   //    position: absolute;
   //    margin: 300px 1346px 0px 304px;
   //    z-index: 4;
   // }
   .container{
      // height: 713px;
      justify-content: flex-end;
      position: relative;
   }
   &-inf{
      display: flex;
      flex-direction: column;
      margin-top: 61px;
      padding-left: 8.8%;
      background: #FFFFFF;
      border-radius: 30px;
      // box-sizing: none;
      flex: 0;
   }
   &__text{
      margin-bottom: 48px;
   }
   &__h5{
      @extend %type-text18-h5;
      padding-top: 70px;
      padding-bottom: 30px;
   }
   // ???????????????????????????????
   &__h3{
      @extend %type-text36-h3;
      margin-bottom: 8px;
   }
   &__p{
      width: 626px;
      @extend %type-text15;
      padding-right: 46px;
   }
   &-menu{
      display: flex;
      flex-direction: column;
      gap: 50px;
   }
   &__menu{
      width: 51.19%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;
      margin-bottom: 81px;
   }
   .menu__icon{
      width: 118px;
      height: 118px;
      border-radius: 50%;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
   }
   &__h51{
      font-family: 'Open Sans';
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      padding-bottom: 22px;
   }
   &__p1{
      @extend %type-text15;
      color: #888787;
   }
   .button{
      padding-left: 8.46%;
      background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      justify-content: flex-start;
   }
}
//---------------------------------------------------------
.plan{
   background: url(Images/Rectangle%2025.png);
   // width: 100%;
   // height: 883px;
   margin-bottom: 100px;
   position: relative;
   .plan-img{
      position: absolute;
      margin: 250px 40.78% 0px 54.68%;
   }
   .plan-img::before{
      content: "Best";
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: hsl(0, 20%, 98%);
      position: absolute;
      margin: 25px;
   }
   .container{
      // height: 529px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }
   &-text__h5{
      @extend %type-text18-h5;
      padding-top: 100px;
      padding-bottom: 27px;
   }
   &-text__h3{
      @extend %type-text36-h3;
      padding-bottom: 79px;
   }
   &-menu{
      // height: 529px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 15px;
      // flex-wrap: wrap;
   }
   %style-block-plan{
      width: 31.62%;
      background: #FFFFFF;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 25px;
      display: flex;
      align-items: flex-start;
   }
   &-basic, &-premium{
      @extend %style-block-plan;
      padding-left: 1.92%;
      padding-top: 45px;
      // flex: 1 1 ;
   }
   &-standard{
      width: 34.01%;
      background: #FFFFFF;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 25px;
      display: flex;
      padding: 64px 5px 0px 3%;
   }
   .plan-premium__var{
      padding: 45px 0px 0px 9px;
   }
   .price{
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   .price__icon{
      height: 80px;
      display: flex;
      align-items: flex-start;
      gap: 5px;
   }
   .price__icon_view{
      align-self: center;
   }
   .price__text{
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;      
      text-align: center;
      color: #888787;
   }
   &-inf{
      // height: 365px;
      // align-self: flex-end;
      display: flex;
      flex-direction: column;
      margin-top: 40px;
   }
  .button__middle{
      width: 166.5px;
      height: 63px;
      background: #001AFF;
      font-size: 18px;
      line-height: 25px;
      margin: 33px 57px 52px 20px;
  }
   .button__middle_red{
      background: #F64872;
  }
  &-inf__h4{
      // width: 182px;
      // height: 60px;
      font-family: 'Open Sans';
      font-weight: 800;
      font-size: 22px;
      line-height: 30px;
      // margin-bottom: 10px;
      padding-left: 16px;
  }
  .plan-inf__h4pr{
   padding-left: 5px;
  }
  &-inf__p{
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      padding-bottom: 44px;
      padding-left: 16px;
  }
  &-inf__ppr{
   padding-left: 5px;
  }
  &-inf__items{
     display: flex;
     gap: 15px;
     margin-bottom: 30px;
  }
  &-inf__items_p{
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 12px;
      color: #888787;
      // padding-bottom: 24px;
  }
}
//--------------------------------------------------
.clients{
   background: #F9F9F9;
   margin-bottom: 100px;
   .container{
      flex-direction: column;
   }
   &__text{
      margin-bottom: 79px;
   }
   &__p{
      @extend %type-text18-h5;
      padding-bottom: 27px;
   }
   &__h3{
      @extend %type-text36-h3;
   }
   &__slider{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 38px;
   }
   .button-circle{
      width: 62px;
      height: 62px;
      border-radius: 50%;
      background: #FFFFFF;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
   }
   &-name{
      width: 86.6%;
      display: flex;
      justify-content: flex-start;
      gap: 65px;
      background: #FFFFFF;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 25px;
   }
   &-name-text{
      display: flex;
      flex-direction: column;
      gap: 30px;
   }
   &-name__view{
      width: 88.5%;
   }
   &__h5{
      padding-top: 30px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      padding-bottom: 15px;
   }
   &__p{
      @extend %type-text15;
      padding-bottom: 30px;
   }
   &__p1{
      padding-right: 56px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: #888787;
   }
}
//-------------------------------------------------------
.experiments{
   margin-bottom: 100px;
   .substruct1{
      position: absolute;
      margin: 560px 70% 0px 15.88%;
      z-index: 0;
   }
   .substruct2{
      position: absolute;
      margin: 132px 16.41% 0px 69.53%;
      z-index: 0;
   }
   .ellipse7{
      position: absolute;
      margin: 50px 90.26% 0px 8.3%;
   }
   .ellipse9{
      position: absolute;
      margin: 710px 92.96% 0px 4.8%;
   }
   .container{
      flex-direction: column;
      z-index: 2;
      position: relative;
   }
   &__pp{
      @extend %type-text18-h5;
      padding-bottom: 27px;
   }
   &__h3{
      @extend %type-text36-h3;
      padding-bottom: 79px;
   }
   &-cont{
      width: 100%;
      margin: 0 auto;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
   }
   &__view{
      background: #FFFFFF;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 25px;
      flex: 0;
   }
   .button-exp{
      width: 116px;
      height: 34px;
      margin: 40px 0 32px 25px;
      background: #001AFF;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 7px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
   }
   &__p{
      width: 297px;
      @extend %type-text18-h5;
      padding-bottom: 15px;
      padding-left: 25px;
   }
   &__p1{
      width: 329px;
   }
   &__p2{
      width: 309px;
   }
   &__p15{
      @extend %type-text15;
      width: 305px;
      padding-bottom: 40px;
      padding-left: 25px;
   }
   .logo{
      display: flex;
      gap: 16px;
      margin-left: 25px;
      margin-bottom: 36px;
   }
   .logo__text{
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   .logo__p{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
   }
   .logo__p1{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #888787;
   }
   .logo__img{
      border: 1px solid #888787;
      margin-right: 5px;
   }
   &__button{
      align-self:center;
   }
   .button{
      width: 100%;
      margin-top: 80px;
      background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
//-----------------------------------------------------------
}
.technology{
   background: #F9F9F9;
   margin-bottom: 100px;
   .container{
      background: url(Images/Rectangle%2037.png);
      justify-content: space-between;
   }
   &__text{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }
   &__p{
      @extend %type-text18-h5;
      padding: 85px 0px 27px 85px;
   }
   &__h3{
      @extend %type-text36-h3;
      padding: 0px 0px 59px 85px;
   }
   .button{
      margin-left: 85px;
   }
}
//-------------------------------------------------------
.footer{
   .container{
      flex-direction: column;
   }
   &__menu{
      display: flex;
      align-items: center;
      gap: 15.3%;
      margin-bottom: 45px;
   }
   .logotype{
      @extend %logotype;
   }
   &__text{
      @extend %type-text18-h5;
   }
   &-inf{
      width: 100%;
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
   }
   &-block__links{
      display: flex;
      gap: 45px;
   }
   &-inf__links{
      width: 252px;
      display: flex;
      flex-direction: column;
   }
   &-inf__text{
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      color: #888787;
      padding-bottom: 15px;
   }
   &-inf__text1{
      line-height: 25px;
      margin-top: 25px;
   }
   &__ul{
      display: flex;
      gap: 55px;
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 15px;
      line-height: 186.52%;
      color: #888787;
   }
   .posts{
      display: flex;
      flex-direction: column;
      gap: 15px;
   }
   .posts__internet, .posts__turpisdolor{
      display: flex;
      gap: 30px;
   }
   .posts__text{
      width: 139px;
   }
   .posts__p{
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 16px;
      line-height: 100.02%;
      color: #888787;
      padding-bottom: 10px;
   }
   .posts__p1{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #888787;
   }
   .posts-form{
      height: 51px;
      background: #FFFFFF;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 70px;
   }
   .form-input{
      height: 51px;
      border-radius: 70px;
      @extend %type-text14;
      padding-left: 24px;
   }
   .form__p{
      @extend %type-text14;
      padding-top: 25px;
   }
   .button-circle{
      width: 51px;
      height: 51px;
      border-radius: 50%;
      background: #FFFFFF;
      margin-left: 30px;
   }
}


