* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #F9F9F9;
}

.creative__p, .ideas__p, .experience__p, .experience__p1, .clients__p, .experiments__p15 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.footer .form-input, .footer .form__p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #888787;
}

.creative__h5, .creative__h5_1, .ideas__h5, .experience__h5, .plan-text__h5, .clients__p, .experiments__pp, .experiments__p, .technology__p, .footer__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.creative__h3, .ideas__h3, .experience__h3, .plan-text__h3, .clients__h3, .experiments__h3, .technology__h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}

.button {
  width: 38.44%;
  height: 74px;
  background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 18px;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #fdfafa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.35%;
}

.button-img {
  width: 15px;
  height: 15px;
  background: url("Images/vector 6.png");
}

.button-img__white {
  background: url("Images/Vector.png");
}

.container {
  width: 61.04%;
  margin: 0 auto;
  display: flex;
}

.header .logotype, .footer .logotype {
  font-family: 'Inter';
  font-weight: 800;
  font-size: 2.86rem;
  text-transform: uppercase;
  background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  height: 165px;
  padding-top: 50px;
}

.header .container {
  height: 48px;
  justify-content: space-between;
  align-items: center;
}

.header .nav {
  width: 46.06838%;
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 27px;
}

.header .header__link:hover {
  border-bottom: 5px solid #F74872;
}

.header .button-header {
  width: 20px;
  height: 20px;
  background: url("Images/Vector header.png");
}

.business {
  margin-bottom: 200px;
}

.business .container {
  justify-content: space-between;
  gap: 23px;
}

.business__block {
  display: flex;
  flex-direction: column;
  padding-top: 10.95462%;
}

.business__h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 26px;
}

.business__text {
  width: 64.2%;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 58px;
}

.business__icon {
  width: 15px;
  height: 84px;
  display: flex;
  flex-direction: column;
  gap: 6.86px;
  margin-bottom: 46px;
}

.creative {
  background: #F9F9F9;
  margin-bottom: 107px;
}

.creative .container {
  margin-bottom: 100px;
  flex-direction: column;
}

.creative-block-text {
  width: 49.3%;
  margin-bottom: 78px;
}

.creative__h5 {
  margin-bottom: 27px;
}

.creative__block {
  display: flex;
  gap: 8.71795%;
}

.creative-menu {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33.3% 33.3%;
  gap: 7.4%;
}

.creative-menu__size {
  display: flex;
  align-items: center;
  gap: 6.51%;
}

.creative__icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
}

.creative-menu__text {
  width: 50%;
  flex: 1;
}

.creative__h5_1 {
  padding-bottom: 21px;
}

.creative__p_mod {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.creative .button {
  background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: flex-start;
}

.ideas {
  background: #F9F9F9;
  margin-bottom: 40px;
}

.ideas .container::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 0 0 85%;
  z-index: 0;
  background: url("Images/Subtract2.png");
  background-repeat: no-repeat;
}

.ideas .container::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 60px 0 0 62.7%;
  z-index: 2;
  background: url("Images/unsplash_nF8xhLMmg0c.png");
  background-repeat: no-repeat;
}

.ideas .container {
  position: relative;
}

.ideas__text {
  width: 66.66%;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 30px;
  position: relative;
}

.ideas__h5 {
  padding: 70px 0px 30px 8.46%;
}

.ideas__h3 {
  padding: 0px 23.46% 20px 8.46%;
}

.ideas__p {
  padding: 0px 31.28% 40px 8.46%;
}

.ideas .button {
  padding-left: 8.46%;
  background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: flex-start;
}

.experience {
  background: #F9F9F9;
  margin-bottom: 100px;
}

.experience .container::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 250px 8% 0 0;
  z-index: 0;
  background: url("Images/Subtract1.png");
  background-repeat: no-repeat;
}

.experience .container::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: url("Images/unsplash_376KN_ISplE.png");
  background-repeat: no-repeat;
}

.experience .container {
  justify-content: flex-end;
  position: relative;
}

.experience-inf {
  display: flex;
  flex-direction: column;
  margin-top: 61px;
  padding-left: 8.8%;
  background: #FFFFFF;
  border-radius: 30px;
  flex: 0;
}

.experience__text {
  margin-bottom: 48px;
}

.experience__h5 {
  padding-top: 70px;
  padding-bottom: 30px;
}

.experience__h3 {
  margin-bottom: 8px;
}

.experience__p {
  width: 626px;
  padding-right: 46px;
}

.experience-menu {
  display: flex;
  flex-direction: column;
}

.experience__menu {
  width: 51.19%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-bottom: 81px;
}

.experience .menu__icon {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
}

.experience__h51 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 22px;
}

.experience__p1 {
  color: #888787;
}

.experience .button {
  padding-left: 8.46%;
  background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: flex-start;
}

.plan {
  background: url(Images/Rectangle%2025.png);
  margin-bottom: 100px;
  position: relative;
}

.plan .plan-img {
  position: absolute;
  margin: 250px 40.78% 0px 54.68%;
}

.plan .plan-img::before {
  content: "Best";
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #fbf9f9;
  position: absolute;
  margin: 25px;
}

.plan .container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.plan-text__h5 {
  padding-top: 100px;
  padding-bottom: 27px;
}

.plan-text__h3 {
  padding-bottom: 79px;
}

.plan-menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 15px;
}

.plan .plan-basic, .plan .plan-premium {
  width: 31.62%;
  background: #FFFFFF;
  box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
  border-radius: 25px;
  display: flex;
  align-items: flex-start;
}

.plan-basic, .plan-premium {
  padding-left: 1.92%;
  padding-top: 45px;
}

.plan-standard {
  width: 34.01%;
  background: #FFFFFF;
  box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
  border-radius: 25px;
  display: flex;
  padding: 64px 5px 0px 3%;
}

.plan .plan-premium__var {
  padding: 45px 0px 0px 9px;
}

.plan .price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan .price__icon {
  height: 80px;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.plan .price__icon_view {
  align-self: center;
}

.plan .price__text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #888787;
}

.plan-inf {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.plan .button__middle {
  width: 166.5px;
  height: 63px;
  background: #001AFF;
  font-size: 18px;
  line-height: 25px;
  margin: 33px 57px 52px 20px;
}

.plan .button__middle_red {
  background: #F64872;
}

.plan-inf__h4 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  padding-left: 16px;
}

.plan .plan-inf__h4pr {
  padding-left: 5px;
}

.plan-inf__p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 44px;
  padding-left: 16px;
}

.plan-inf__ppr {
  padding-left: 5px;
}

.plan-inf__items {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.plan-inf__items_p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #888787;
}

.clients {
  background: #F9F9F9;
  margin-bottom: 100px;
}

.clients .container {
  flex-direction: column;
}

.clients__text {
  margin-bottom: 79px;
}

.clients__p {
  padding-bottom: 27px;
}

.clients__slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}

.clients .button-circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
}

.clients-name {
  width: 86.6%;
  display: flex;
  justify-content: flex-start;
  gap: 65px;
  background: #FFFFFF;
  box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
  border-radius: 25px;
}

.clients-name-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.clients-name__view {
  width: 88.5%;
}

.clients__h5 {
  padding-top: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 15px;
}

.clients__p {
  padding-bottom: 30px;
}

.clients__p1 {
  padding-right: 56px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #888787;
}

.experiments {
  margin-bottom: 100px;
}

.experiments .ellipse7 {
  position: absolute;
  margin: 50px 90.26% 0px 8.3%;
}

.experiments .ellipse9 {
  position: absolute;
  margin: 710px 92.96% 0px 4.8%;
}

.experiments .container::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 600px 0 0 -8%;
  z-index: -1;
  background: url("Images/Subtract1.png");
  background-repeat: no-repeat;
}

.experiments .container::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 10% 0 0 85%;
  z-index: -1;
  background: url("Images/Subtract2.png");
  background-repeat: no-repeat;
}

.experiments .container {
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.experiments__pp {
  padding-bottom: 27px;
}

.experiments__h3 {
  padding-bottom: 79px;
}

.experiments-cont {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.experiments__view {
  background: #FFFFFF;
  box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
  border-radius: 25px;
  flex: 0;
}

.experiments .button-exp {
  width: 116px;
  height: 34px;
  margin: 40px 0 32px 25px;
  background: #001AFF;
  box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
  border-radius: 7px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.experiments__p {
  width: 297px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.experiments__p1 {
  width: 329px;
}

.experiments__p2 {
  width: 309px;
}

.experiments__p15 {
  width: 305px;
  padding-bottom: 40px;
  padding-left: 25px;
}

.experiments .logo {
  display: flex;
  gap: 16px;
  margin-left: 25px;
  margin-bottom: 36px;
}

.experiments .logo__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experiments .logo__p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.experiments .logo__p1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #888787;
}

.experiments .logo__img {
  border: 1px solid #888787;
  margin-right: 5px;
}

.experiments__button {
  align-self: center;
}

.experiments .button {
  width: 100%;
  margin-top: 80px;
  background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.technology {
  background: #F9F9F9;
  margin-bottom: 100px;
}

.technology .container {
  background: url(Images/Rectangle%2037.png);
  justify-content: space-between;
}

.technology__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.technology__p {
  padding: 85px 0px 27px 85px;
}

.technology__h3 {
  padding: 0px 0px 59px 85px;
}

.technology .button {
  margin-left: 85px;
}

.footer .container {
  flex-direction: column;
}

.footer__menu {
  display: flex;
  align-items: center;
  gap: 15.3%;
  margin-bottom: 45px;
}

.footer-inf {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-block__links {
  display: flex;
  gap: 45px;
}

.footer-inf__links {
  width: 252px;
  display: flex;
  flex-direction: column;
}

.footer-inf__text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #888787;
  padding-bottom: 15px;
}

.footer-inf__text1 {
  line-height: 25px;
  margin-top: 25px;
}

.footer__ul {
  display: flex;
  gap: 55px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  line-height: 186.52%;
  color: #888787;
}

.footer .posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer .posts__internet, .footer .posts__turpisdolor {
  display: flex;
  gap: 30px;
}

.footer .posts__text {
  width: 139px;
}

.footer .posts__p {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 100.02%;
  color: #888787;
  padding-bottom: 10px;
}

.footer .posts__p1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #888787;
}

.footer .posts-form {
  height: 51px;
  background: #FFFFFF;
  box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
  border-radius: 70px;
}

.footer .form-input {
  height: 51px;
  border-radius: 70px;
  padding-left: 24px;
}

.footer .form__p {
  padding-top: 25px;
}

.footer .button-circle {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background: #FFFFFF;
  margin-left: 30px;
}
/*# sourceMappingURL=Site2.css.map */