@import "nullstyle.scss";

$light: #F9F9F9;
$white: #FFFFFF;
$light-grey: #888787;
$red: #e11645;
$blue: #001AFF;
$black: #000;

body{
   background: $light;
   overflow-x: hidden;
}
%type-text15{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
}
%type-text14{
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: $light-grey;
}
%type-text18-h5{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
}
%type-text36-h3{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 36px;
   line-height: 49px;
}
%type-text12{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
}
%type-text20{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 27px;
}
%type-text20-800{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 27px;
}
%type-text15-400{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
}
%type-text14-19{
   font-family: 'Open Sans';
   font-style: normal;
   font-size: 14px;
   line-height: 19px;
}
%type-text22-30{
   font-family: 'Open Sans';
   font-style: normal;
   font-size: 22px;
   line-height: 30px;
}
%type-text18-400{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
}
%absolute-background-image {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 1;
   background-repeat: no-repeat;
}
.button{
   width: 251px;
   height: 74px;
   box-sizing: border-box;
   background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
   border: 1px solid $white;
   border-radius: 18px;
   @extend %type-text20-800;
   text-align: left;
   padding-left: 40px;
   color: $white;
   position: relative;
}
.button::before{
   content: url("Images/Vector.png");
   width: 15px;
   height: 15px;
   position: absolute;
   left: 78.08%; //196px;
}
.button__white{
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-repeat: no-repeat;
   border: none;
   padding-left: 0;
}
.button__white::before{
   content: url("Images/vector 6.png");
   position: absolute;
   left: 130px;
}
.container {
   width: 61.04%;
   margin: 0 auto;
   display: flex;
   @media  screen and(max-width: 1450px) {
      width: 80%;
   }
}
%text-gradient{
   font-family: 'Inter';
   font-weight: 800;
   font-size: 2.86rem;
   text-transform: uppercase;
   background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #FFFFFF;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.header{
   height: 100px;
   margin-bottom: 100px;
   display: flex;
   align-items: center;
   .container{
      justify-content: space-between;
      align-items: center;
   }
   .logotype{
      @extend %text-gradient;
   }
   .nav{
      display: flex;
      justify-content: space-between;
      gap: 60px;
   }
   &__link{
      @extend %type-text20;
      border-bottom: 5px solid $light;
   }
   .header__link:hover{
      border-color:  $red;
   }
   .button-header{
      width: 20px;
      height: 20px;
      background: url("Images/Vector header.png");
   }
   //-----------------------------------------------
}
.business{
   margin-bottom: 200px;
   .container{
      justify-content: space-between;
   }
   &__block{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
   }
   &__h2{
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 48px;
      line-height: 65px;
      margin-bottom: 26px;
   }
   &__p{
      width: 64.2%;
      @extend %type-text18-400;
      line-height: 25px;
      margin-bottom: 58px;
   }
   .rhombus{
      display: flex;
      flex-direction: column;
      gap: 6.86px;
      margin-bottom: 47px;
   }
   .rhombus__black{
      width: 10px;
      height: 10px;
      background-color: $black;
      transform: rotate(45deg);
   }
   .rhombus__red{
      background-color: $red;
   }
}
//-----------------------------------------------------------
.creative{
   background: $light;
   margin-bottom: 107px;
   .container{
      flex-direction: column;
   }
   &__h5{
      @extend %type-text18-h5;
      margin-bottom: 22px;
   }
   &__h3{
      width: 49.05%;
      margin-bottom: 78px;
      @extend %type-text36-h3;
   }
   &-block{
      display: flex;
      gap: 102px;
   }
   &-scroll{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 25.9% 25.9%;
      gap: 40px;
   }
   &-scroll__view{
      display: flex;
      align-items: center;
      gap: 25px;
   }
   &__icon{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
   }
   &-scroll__text{
      flex: 1;
   }
   &-scroll__p{
      @extend %type-text15;
   }
   &-scroll__h5{
      @extend %type-text18-h5;
      margin-bottom: 21px;
   }
   &__p_mod{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
   }
}
//----------------------------------------------------------
.ideas{
   background: $light;
   margin-bottom: 40px;
   .container{
      position: relative;
      &:after {
         @extend %absolute-background-image;
         left: 85%;
         z-index: 0;
         background-image: url("Images/Subtract2.png");
      }
      &:before {
         @extend %absolute-background-image;
         top: 60px;
         left: 62.7%;
         background-image: url("Images/unsplash_nF8xhLMmg0c.png");
      }
   }
   &__text{
      width: 66.66%;
      display: flex;
      flex-direction: column;
      background: $white;
      border-radius: 30px;
      position: relative;
      padding-left: 8.46%;
      padding-top: 70px;
      padding-bottom: 20px;
   }
   &__h5{
      @extend %type-text18-h5;
      margin: 0 0px 30px 0;
   }
   &__h3{
      @extend %type-text36-h3;
      margin: 0px 23.46% 20px 0;
   }
   &__p{
      @extend %type-text15;
      margin: 0px 31.28% 40px 0;
   }
   //-------------------------------------------------------
}
.experience{
   background: $light;
   margin-bottom: 100px;

   .container{
      justify-content: flex-end;
      position: relative;
      &:after {
         @extend %absolute-background-image;
         top: 250px;
         z-index: 0;
         background-image: url("Images/Subtract1.png");
      }
      &:before{
         @extend %absolute-background-image;
         background-image: url("Images/unsplash_376KN_ISplE.png");
      }
   }
   &-inf{
      width: 55%;
      display: flex;
      flex-direction: column;
      margin-top: 61px;
      padding: 70px 46px 20px 105px;
      padding-left: 8.8%;
      background: $white;
      border-radius: 30px;
   }
   &__text{
      margin-bottom: 48px;
   }
   &__h5{
      @extend %type-text18-h5;
      margin-bottom: 30px;
   }
   &__h3{
      @extend %type-text36-h3;
      margin-bottom: 8px;
   }
   &__p{
      @extend %type-text15;
      margin-right: 30px;
   }
   &-scroll{
      display: flex;
      flex-direction: column;
   }
   &-scroll__price{
      // width: 65%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;
      margin-bottom: 65px;
   }
   .scroll__icon{
      width: 118px;
      height: 118px;
      border-radius: 50%;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
   }
   &-scroll__text{
      width: 200px;
   }
   &-scroll__h5{
      @extend %type-text20-800;
      margin-bottom: 22px;
   }
   &-scroll__p{
      @extend %type-text15;
      color: $light-grey;
   }
}
//---------------------------------------------------------
.button__middle{
   width: 166.5px;
   height: 63px;
   background: $blue;
   font-size: 18px;
   line-height: 25px;
   font-weight: 800;
   font-family: 'Open Sans';
   margin-top: 30px;
   border: 1px solid $white;
   border-radius: 18px;
   color: $white;
   position: relative;
   text-align: left;
   padding-left: 27px;
}
.button__middle::before{
   content: url("Images/Vector.png");
   width: 15px;
   height: 15px;
   position: absolute;
   left: 0;
   left: 75.08%; //196px;
}
.button__middle_red{
   background: $red;
}
// ------------------------------------------------------
.plan{
   background: url(Images/Rectangle%2025.png);
   margin-bottom: 100px;
   .container{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }
   &__h5{
      @extend %type-text18-h5;
      margin-top: 100px;
      margin-bottom: 27px;
   }
   &__h3{
      @extend %type-text36-h3;
      margin-bottom: 60px;
   }
   &-menu{
      display: flex;
      gap: 15px;
      margin-bottom: 98px;
      align-items: flex-end;
   }
   &-basic, &-premium{
      background: $white;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 25px;
      display: flex;
      gap: 23px;
   }
   &-basic, &-standard, &-premium {
      padding: 40px;
   }
   &-basic__inf, &-standard__inf {
      margin-top: 60px;
   }
   &-premium__mod{
      gap: 12px;
   }
   &-standard{
      background: $white;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 25px;
      display: flex;
      gap: 26px;
      align-self: start;
      position: relative;
      z-index: 0;
      padding-top: 60px;
   }
   .plan-standard::before{
      content: 'Best';
      width: 86px;
      height: 86px;
      border-radius: 50%;
      background: $red;
      position: absolute;
      color: $white;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      // line-height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin: -43px 0 0 74.2%;
      top: -43px;
      right: 20px;
   }
   &-basic__price{
      display: flex;
      flex-direction: column;
      gap: 5px;
      //margin: 40px 0 360px 37px;
   }
   &-basic__price_mod{
      //margin-left: 16px;
      //margin: 40px 0 360px 16px;
   }
   &-standard__price{
      display: flex;
      flex-direction: column;
      // gap: 5px;
      //margin: 64px 0 360px 26px;
   }
   .price__icon{
      height: 87px;
      display: flex;
      align-items: flex-start;
      gap: 5px;
   }
   .price__icon_view{
      align-self: center;
   }
   .price__text{
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      text-align: center;
      color: $light-grey;
   }
   &-basic__inf{
      display: flex;
      flex-direction: column;
      align-self: end;
      //margin: 68px 35px 52px 0;
   }
   &-standard__inf{
      display: flex;
      flex-direction: column;
      align-self: end;
      //margin: 110px 35px 52px 0;
   }
  &-basic__h4{
      @extend %type-text22-30;
      font-weight: 800;
      margin-bottom: 5px;
  }
  &-basic__p{
      @extend %type-text22-30;
      font-weight: 400;
      margin-bottom: 40px;
  }
  &-ul{
     width: 187px;
  }
  &__li{
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $light-grey;
      margin-bottom: 24px;
      list-style: url("Images/galka.png");
  }
  &__li_red{
      list-style: url("Images/galka1.png");
  }
}
.button-circle{
   width: 62px;
   height: 62px;
   border-radius: 50%;
   background: $light;
   box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
}
.button-circle::before{
   content: url(Images/vector1.png);
   display: flex;
   justify-content: center;
   align-items: center;
}
.button-circle__blue::before{
   content: url(Images/vector2.png);
}
//--------------------------------------------------
.clients{
   background: $light;
   margin-bottom: 100px;
   .container{
      flex-direction: column;
   }
   &__p{
      @extend %type-text18-h5;
      margin-bottom:  27px;
   }
   &__h3{
      @extend %type-text36-h3;
      margin-bottom: 79px;
   }
   &__slider{
      display: flex;
      align-items: center;
      gap: 38px;
   }
   &-name{
      width: 86.6%;
      display: flex;
      justify-content: flex-start;
      background: $light;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 25px;
   }
   &-name-text{
      display: flex;
      flex-direction: column;
      padding: 0 65px;
   }
   &__h5{
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      margin-top: 43px;
      margin-bottom: 15px;
      //margin: 43px 0 15px 65px;
   }
   &__p{
      @extend %type-text15;
      margin-bottom: 30px;
      //margin: 0 0 30px 65px;
      color: $light-grey;
   }
   &__p1{
      @extend %type-text18-400;
      line-height: 29px;
      color: $light-grey;
      margin-bottom: 30px;
      //margin: 0 56px 30px 65px;
   }
   &__stars{
      margin-bottom: 42px;
      //margin: 0 0 42px 65px;
   }
}
//-------------------------------------------------------
.experiments{
   margin-bottom: 100px;
   .ellipse7{
      position: absolute;
      margin: 50px 90.26% 0px 8.3%;
   }
   .ellipse9{
      position: absolute;
      margin: 710px 92.96% 0px 4.8%;
   }
   .container{
      flex-direction: column;
      z-index: 1;
      position: relative;
      &:before{
         @extend %absolute-background-image;
         margin: 10% 0 0 85%;
         z-index: -1;
         background-image: url("Images/Subtract2.png");
      }
      &:after{
         @extend %absolute-background-image;
         margin: 600px 0 0 -8%;
         z-index: -1;
         background-image: url("Images/Subtract1.png");
      }
   }
   &__title{
      @extend %type-text18-h5;
      margin-bottom: 27px;
   }
   &__h3{
      @extend %type-text36-h3;
      margin-bottom: 79px;
   }
   &-cont{
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;
   }
   &-blocks{
      background: $white;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 25px;
      flex: 0;
      & > div {
         padding: 40px 25px;
      }
   }
   .button-exp{
      width: 116px;
      height: 34px;
      margin-bottom: 32px;
      //margin: 40px 0 32px 25px;
      background: $blue;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 7px;
      @extend %type-text14-19;
      font-weight: 600;
      color: $white;
   }
   &-blocks__p{
      @extend %type-text18-h5;
      margin-bottom: 15px;
      //margin-left: 25px;
   }
   &-blocks__text{
      width: 82.43%;
      //margin: 0 0 40px 25px;
      margin-bottom: 40px;
      @extend %type-text15;
      color: $light-grey;
   }
   .logo{
      display: flex;
      gap: 16px;
      //margin: 0 0 36px 25px;
   }
   .logo__text{
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   .logo__p{
      @extend %type-text14-19;
      font-weight: 700;
   }
   .logo__p1{
      @extend %type-text12;
      color: $light-grey;
   }
   .logo__img{
      border: 1px solid $light-grey;
      margin-right: 5px;
   }
   .button{
      align-self:center;
   }
//-----------------------------------------------------------
}
.technology{
   background: $light;
   margin-bottom: 100px;
   .container{
      background: url(Images/Rectangle%2037.png);
      justify-content: space-between;
      border-radius: 10px;
   }
   &__text{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 80px;
      padding-bottom: 0px;
   }
   &__p{
      @extend %type-text18-h5;
      margin-top: 65px;
      //margin: 85px 0 27px 86px;
   }
   &__h3{
      @extend %type-text36-h3;
      margin-bottom: 60px;
      //margin: 0px 0px 59px 86px;
   }
   .button{
      //margin-left: 86px;
   }
}
//-------------------------------------------------------
.footer{
   .container{
      flex-direction: column;
   }
   &__menu{
      display: flex;
      align-items: center;
      gap: 200px;
      //justify-content: space-between;
      margin-bottom: 45px;
      & > h5{
         flex: 1;
      }
   }
   .logotype{
      @extend %text-gradient;
   }
   &__text{
      @extend %type-text18-h5;
   }
   &-inf{
      display: flex;
      gap: 60px;
      margin-bottom: 100px;
   }
   &-block__links{
      display: flex;
      gap: 70px;
   }
   &-inf__links{
      display: flex;
      flex-direction: column;
   }
   &-inf__text{
      @extend %type-text15-400;
      line-height: 15px;
      color: $light-grey;
      margin-bottom: 15px;
   }
   &-inf__text1{
      width: 252px;
      line-height: 25px;
      margin-top: 25px;
   }
   &__ul{
      width: 234px;
      display: flex;
      gap: 55px;
      @extend %type-text15-400;
      line-height: 28px;
      color: $light-grey;
   }
   .posts{
      display: flex;
      flex-direction: column;
      gap: 15px;
   }
   .posts__internet, .posts__turpisdolor{
      display: flex;
      gap: 30px;
   }
   .posts__text{
      width: 139px;
   }
   .posts__p{
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 16px;
      line-height: 100.02%;
      color: $light-grey;
      margin-bottom: 10px;
   }
   .posts__p1{
      @extend %type-text12;
      color: $light-grey;
   }
   .posts-form{
   }
   .form-input{
      border-radius: 70px;
      @extend %type-text14;
   }
   .form__p{
      @extend %type-text14;
      margin-top: 25px;
   }
   .input-button{
      padding-left: 24px;
      height: 51px;
      background: $white;
      box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
      border-radius: 70px;
      display: flex;
      //flex-direction: column;
      gap: 25px;
      display: flex;
   }
   .button-circle{
      width: 51px;
      height: 51px;
      box-shadow: none;
      background: $white;
   }
}


