.body{
  
}
*{
   margin: 0;
   padding: 0;
}
.Ninjamail{
   background: #FFFFFF;
}
.header{
   width: 100%;/*1440px*/
   height: 2.6%;/*102px*/
   margin-bottom: 103px;
   display: flex;
}
.fild{
   width: 1200px;
   display: flex;
   align-items: flex-start;
   gap: 380px;
}
 /*--logo-------------------------------------------*/
.Logo{
   display: flex;
   max-width: 18.75%; /*270px*/
   max-height: 79.6%; /*81px*/
   margin-left: 5.1%;
   align-self: flex-start;
}
.logo_text{
   height: 50.6%; /*41px*/
   width: fit-content;
   font-family: 'Raleway';
   font-weight: 900;
   font-size: 26px;
   line-height: 50px;
}
/*---Nav----------------------------------*/
.Navigation{
   align-self: center;
}
.Nav{ 
   width: 420px; /*680px*/
   height: 41px; /*41px*/
   display: flex;
   justify-content: space-between;
}
.link{
   font-family: 'Raleway';
   font-weight: 800;
   font-size: 17px;
   line-height: 20px;
   letter-spacing: 1.275px;
   border-bottom: 7px solid #4BA87D;
}
.button{
   background-color: #4BA87D;
   font-family: 'Raleway';
   font-weight: 900;
   font-size: 21px;
   height: 65px;
   min-width: 200px;
   border: 2px solid #4BA87D;
   border-radius: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   box-sizing: border-box;
}
.button.outline {
   background-color: #FFFFFF;
   color: #4BA87D;
}
.button.outline.center{
   margin: 0px auto;
} 
.button.button-small{
   width: 168px;
   height: 41px;
   font-size: 17px;
}
.place-button{
   width: 250px;
   height: 50px;
   display: flex;
   align-items: flex-end;
}
/*--main-------------------------------------------*/
.main{
   width: 100%;
   height: 86.4%;
   margin-bottom: 1.3%;
}
/* Начало блока main */

.Hero{
   width: 75.7%; /*1088px*/
   height: 11.3%;/*383px*/
   margin: 0 auto 19.4%;
   background: url(file:///Users/user/Desktop/My%20programm/Family-Learning/Sergey_tasks/My%20site/Image/hero.png) 100%;
   background-repeat: no-repeat;
}
.hero-inf{
   width: 489px; /*489px*/
   height: 383px; 
}
.hero_text1{
   margin-bottom: 23px;
   font-family: 'Playfair Display';
   font-weight: 900;
   font-size: 59px;
   line-height: 71px;
}
.hero_text2{
   margin-bottom: 35px;
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 19px;
   line-height: 137%;
}
.hero-buttons{
   width: 100%;
   height: 20.5%;
   display: flex;
   gap: 45px;
}
/*-----Video--------------------------------------*/
.video{
   width: 944px; /*944px*/
   height: 531px;  /*531px*/
   margin: 0 auto 30px;
   background-image: url(file:///Users/user/Desktop/My%20programm/Family-Learning/Sergey_tasks/My%20site/Image/video.png);
   background-repeat: no-repeat;
}  
.text_video{
   font-family: 'Playfair Display';
   font-weight: 900;
   font-size: 60px;
   color: #fff;
   padding-top: 163px;
   margin: 0 auto 61px;
   text-align: center;
}
/*--------sec3-----------------------------------*/
.sec3{
   width: 1098px;
   height: 533px;
   margin: 0 auto 130px;
}
.sec3-flex{
   display: flex;
   justify-content: space-between;
   height: 100%;
}
.sec31{
   width: 320px;
   height: 449px;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: end;
}
.sec32{
   width: 365px;
   display: flex;
   flex-direction: column;
   justify-content: end;
}
.column1{
   background-image: url(file:///Users/user/Desktop/My%20programm/Family-Learning/Sergey_tasks/My%20site/Image/sec3_1.png) ;
}
.column2{
   align-self: flex-end;
   background-image: url(file:///Users/user/Desktop/My%20programm/Family-Learning/Sergey_tasks/My%20site/Image/se3_2.png);
}
.column3{
   justify-content: center;
}
.sec3-text{
   margin: 24px 39px 13px 30px;
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   /* or 162% */
}
.additional-inf{
   padding: 0px 0px 0px 30px;
   font-family: 'Raleway';
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   /* or 119% */
   color: #4BA87D;
}
.sec3-h4{
   font-family: 'Playfair Display';
   font-weight: 900;
   font-size: 44px;
   /* or 109% */
   margin-bottom: 24px;
}
.sec3-text1{
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 19px;
   line-height: 26px;
   /* or 137% */
}
/*--------sec4---------------------------------*/
.sec4{
   width: 1098px;
   height: 533px;
   margin: 0 auto;
   margin-bottom: 75px;
}
.sec4-flex{
   display: flex;
   gap: 32px;
   margin-bottom: 40px;
}
.sec4-h4{
   font-family: 'Playfair Display';
   font-weight: 900;
   font-size: 44px;
   /* or 109% */
   text-align: center;
}
.case{
   display: flex;
   flex-direction: column;
   justify-content: end;
   flex: 1;
   padding-left: 27px;
   height: 239px;
   background-repeat: no-repeat;
}
.study1 {  
   background-image: url(file:///Users/user/Desktop/My%20programm/Family-Learning/Sergey_tasks/My%20site/Image/case-study1.png); 
}
.study2{
   background-image: url(file:///Users/user/Desktop/My%20programm/Family-Learning/Sergey_tasks/My%20site/Image/case-study2.png);
}
.study3{
   background-image: url(file:///Users/user/Desktop/My%20programm/Family-Learning/Sergey_tasks/My%20site/Image/case-study3.png);
}
.sec4-h5{
   font-family: 'Raleway';
   font-weight: 900;
   font-size: 34px;
   /* or 118% */
   color: #FFFFFF;
}
.sec4-information{
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 19px;
   /* or 116% */
   color: #FFFFFF;
   margin-bottom: 15px;
}
.form-view{
   width: 668px;
   height: 65px;
   margin: 35px auto 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.input1{
   box-sizing: border-box;
   height: 65px;
   margin-right: 25px;
   background: #FFFFFF;
   border: 1px solid #9F9F9F;
   border-radius: 5px;
   font-size: 21px;
   padding-right: 200px;
}
.form-inf{
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 21px;
   padding-left: 230px;
   margin-top: 20px;
   margin-bottom: 0px;
   /* identical to box height, or 119% */
   letter-spacing: 1.05px;
   color: #4BA87D;
}
/*--------sec5-----------------------------------*/
.sec5{
   width: 944px;
   height: 211px;
   margin: 0 auto 146px;
}
.sec5-text{
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   /* or 109% */
   text-align: center;
   margin-bottom: 39px;
}
.sec5-logo{
   width: 926px;
   height: 48px;
   display: inline-flex;
   justify-content: space-between;
}
/*-------get started-----------------------------*/
.get{
   width: 100%;
   height: 366px;
   background: #4BA87D;
}
.get-text{
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 60px;
   /* or 133% */
   text-align: center;
   color: #FFFFFF;
   padding-top: 82px;
   padding-bottom: 50px;
}

/*--footer---------------------------------------*/
.footer{
   width: 100%;
   height: 11%;
   bottom: 0%;
}
.footer-flex{
   display: flex;
   justify-content: space-around;
}

.footer-grid{
   width: 563px;
   height: 199px;
   display: grid;
   grid-template-columns: repeat(4, 118px);
   grid-template-rows: repeat(6, 30px);
}
.property{
   width: 34%;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
}
.item15{
   grid-column-start: 3;
   grid-column-end: 5;
}
.item16{
   grid-column-start: 2;
   grid-column-end: 3;
}
.item18{
   grid-column-start: 2;
   grid-column-end: 3;
}




.footerinf{
   display: flex;
   justify-content: center;
   border-top: 2px solid #DBDBDB;
   width: 75%;
   padding: 25px;
   margin: 0 auto;
   justify-content: space-between;
}
/*.footertext{
   height: 18px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   color: #000000;

}*/
.footertext1{  
   margin-right: 2.4%;
}
.block{
   display: flex;
   justify-content: 
}


