@import "./nullstyle";

$sandColor: #e2c499;
$yellowColor: #e8a735;
$redColor: #c8000a;
$brownColor: #a11217a9;

@mixin font ($f, $z, $w, $lh, $c: #474747) {
    font-family: $f;
    font-size: $z;
    font-weight: $w;
    line-height: $lh;
    color: $c;
}

@mixin position ($pos, $top, $bott) {
    position: $pos;
    top: $top;
    left: $bott;
}

@function getFontSize($size) {
    @return ($size / $defaultFontSize)+rem
}

%shadow {
    box-shadow: -3px 6px 11px -2px #6a696933;
}

%modalButton {
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

%button {
    background: $brownColor;
    border-radius: 5px;
    padding: 0 10px;
    @include font('Open Sans', getFontSize(20px), 400, getFontSize(30px), #fff);
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $sandColor;

}

.header {
    padding: 0 10%;
    width: 100%;
    height: 100px;
    background: $yellowColor;
    @extend %shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    &__logo {
        height: 100%;
    }

    &__menu {
        width: 30%;
        display: flex;
        gap: 20px;

    }

    &__link {
        @include font($defaultFontFamily, getFontSize(25px), 500, 1, )
    }

    &__basket {
        cursor: pointer;
        img {
            height: 50px;
            object-fit: contain;
        }
    }
}

.content {
    width: 80%;
    margin: 0 auto;
}

.menu {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    gap: 5%;

    &__card {}
}

.card {
    width: 20%;
    height: 500px;
    background: $brownColor;
    border-radius: 10px;

    &__img {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__title {
        margin-top: 10px;
        @include font($defaultFontFamily, getFontSize(30px), 500, 1, )
    }

    &__description {
        height: 70px;
        margin-top: 10px;
        @include font($defaultFontFamily, getFontSize(20px), 400, 1, )
    }

    &__button {
        margin-top: 5px;
        @extend %button;
    }

    .price {
        @extend %button;
        margin-top: 5px;
        color: #474747;
        background: #e2c499;
    }

    .size {
        @extend %button;
        margin-top: 5px;
        color: #474747;
        background: #e2c499;
        cursor: pointer;
    }

    .size-chozen {
        background: rgb(164, 164, 200);

    }
}

.modal {
    @include position(absolute, 0, 70%);
    width: 30%;
    height: 100%;
    background: #f18b69;
    border-radius: 10px;
    z-index: 21;

    &__close {
        font-size: getFontSize(40px);
        cursor: pointer;
        text-align: end;
        margin: 10px 10px 0 0;
    }

    &__empty {
        @include font($defaultFontFamily, getFontSize(50px), 500, 1, );
        text-align: center;
    }
}

.addedItem {
    margin-top: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    &__img {
        height: 100%;
        margin-left: 10px;
    }

    &__name {
        @include font($defaultFontFamily, getFontSize(30px), 500, 1, )
    }

    &__plusButton {
        @extend %modalButton;
    }

    &__minusButton {
        @extend %modalButton;
    }

    &__amount {
        width: 50px;
        background: #e2c499;
        border-radius: 5px;
        @include font($defaultFontFamily, getFontSize(30px), 400, 1, );
    }

    &__cost {
        width: 100px;
        background: #e2c499;
        border-radius: 5px;
        @include font($defaultFontFamily, getFontSize(30px), 400, 1, );
        margin-right: 10px;
    }
}

.overlay {
    @include position(absolute, 0, 0);
    width: 100%;
    height: 100%;
    background: #00000077;
    z-index: 20;
}

.hidden {
    display: none;
}