body { 
   padding: 20px;
}
.h1{  
   text-align: center;
}
.block{  
      border: 3px solid cornflowerblue;
      max-width: 500px;
      margin: 0px auto;
      height: 500px;
      background-color: bisque;
}
.checkbox{
    display: none;
   }
.toggle{  
      font-size: 20px;
      margin-left: 10px;
}  
.grey{
     display: inline-block;
      width: 43px;
      height: 24px;
      border: 1px solid black;
      border-radius: 12px;
      position: relative;
      top: 6px;
      background-color: rgb(136, 138, 133);
}
.grey::before{
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border: 0.5px solid;
      border-radius: 50%;
      background-color: rgb(187, 185, 184);
      top: 1.5px;
      padding-left: 1px;
}
.checkbox:checked ~ .grey::before{
      position: absolute;
      left: 20px;
      width: 20px;
      height: 20px;
      background-color: rgb(84, 230, 118);
}
.checkbox:checked ~ .green{  
      background-color: rgb(7, 103, 36);
} 
.checkbox:checked ~ .blue::before{
      background-color: rgb(49, 130, 244);
}
.checkbox:checked ~ .blue {  
      background-color:rgb(9, 15, 176);
}
.checkbox:checked ~ .red::before{
      background-color: #ef5622;
}
.checkbox:checked ~ .red{  
      background-color: rgb(168, 54, 13);
}
