* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.difference__block__statistic .statistic__amount, .amazingServices .infoCard__circle {
  box-shadow: -3px 6px 11px -2px rgba(106, 105, 105, 0.2);
}

.ourCompany__block a, .amazingServices a, .header h2 {
  text-transform: uppercase;
  background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 1.3333333333rem;
  font-weight: 800;
  line-height: 1.816rem;
  color: #474747;
}

.difference__block {
  flex-shrink: 0;
  width: 66.7236954662%;
  background: #ffffff;
  border-radius: 30px;
}

.difference__block__statistic .statistic__text, .difference__block > p, .ourCompany__block p, .amazingServices .infoCard__text {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.362rem;
  color: #474747;
}

.difference__block__statistic .statistic__amount span, .amazingServices .infoCard__circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  overflow: hidden;
  max-width: 100%;
  background-color: #fafafa;
  font-family: "Open Sans";
}

h4 {
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6666666667rem;
  color: #000000;
}

h5 {
  font-family: "Open Sans";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2666666667rem;
  color: #474747;
}

.content {
  margin: 0 auto;
  width: 1169px;
}

.header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.header h2 {
  font-family: Inter;
  font-size: 2.6666666667rem;
  font-weight: 800;
  line-height: 3.2rem;
  color: #474747;
  text-transform: uppercase;
}
.header .nav {
  width: 78.9563%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(7, auto);
  align-items: end;
  justify-content: space-between;
}
.header .nav__link {
  font-family: "Open Sans";
  font-size: 1.3333333333rem;
  font-weight: 600;
  line-height: 1;
  color: #474747;
  padding: 7px 1px;
}
.header .nav__linkUnderline {
  border: 2.5px solid #f64872;
  border-radius: 2.5px;
  background-color: #f64872;
  align-self: start;
}
.header .nav__button {
  padding: 7px 1px;
  background-color: #fafafa;
  position: relative;
}

.front {
  margin-top: 67px;
  height: 639px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.front h3 {
  font-family: "Open Sans";
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4.3333333333rem;
  color: #474747;
  width: 55.6%;
  margin-right: 23px;
}
.front p {
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667rem;
  color: #000000;
  width: 35.67%;
  margin-top: 26px;
}
.front__decorationList {
  margin-top: 58px;
}
.front__decorationList li {
  width: 10px;
  height: 10px;
  margin-bottom: 6.86px;
}
.front__decorationList:last-child {
  margin: 0;
}
.front__button {
  margin-top: 46.86px;
  width: 251px;
  height: 74px;
  border-radius: 18px;
  background: linear-gradient(270deg, #430CB9 3.66%, #9E00FF 108.54%), #ffffff;
  font-family: "Open Sans";
  font-size: 1.3333333333rem;
  font-weight: 800;
  line-height: 1.8rem;
  color: #ffffff;
}
.front__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.amazingServices {
  margin-top: 200px;
}
.amazingServices h5 {
  margin-top: 27px;
  width: 49.1017964072%;
}
.amazingServices__content {
  margin-top: 78px;
  display: grid;
  grid-template-rows: repeat(2, 157px) auto;
  grid-template-columns: auto repeat(2, 31.3088109495%);
}
.amazingServices__content > img {
  grid-row: 1/4;
}
.amazingServices__infoCard {
  display: grid;
  grid-template-rows: 25px 60px;
  grid-template-columns: repeat(2, auto);
}
.amazingServices a {
  margin-top: 12px;
}
.amazingServices a:after {
  content: "";
}
.amazingServices .infoCard__circle {
  grid-row: span 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  margin-right: 25px;
}
.amazingServices .infoCard__title {
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.634rem;
  color: #474747;
}
.amazingServices .infoCard__text {
  margin-top: 22px;
}

.ourCompany {
  margin-top: 107px;
  display: flex;
}
.ourCompany__block {
  flex-shrink: 0;
  width: 66.7236954662%;
  background: #ffffff;
  border-radius: 30px;
  height: 455px;
  padding-left: 66px;
}
.ourCompany__block h4 {
  margin-top: 70px;
}
.ourCompany__block h5 {
  width: 531px;
  margin-top: 30px;
}
.ourCompany__block p {
  width: 470px;
  margin-top: 20px;
}
.ourCompany__block a {
  margin-top: 40px;
}
.ourCompany span {
  z-index: 21;
  position: relative;
  top: 60px;
  left: -45px;
  flex-shrink: 0;
}
.ourCompany span::after {
  content: url(../img/Subtract.png);
  position: absolute;
  top: -60px;
  left: 230px;
}

.difference {
  margin-top: 102px;
  display: flex;
}
.difference > span {
  z-index: 20;
  position: relative;
  flex-shrink: 0;
}
.difference > span::before {
  content: url(../img/Subtract.png);
  transform: rotate(180deg);
  position: absolute;
  top: 231px;
  left: -67px;
}
.difference__block {
  position: relative;
  top: 60px;
  left: -29px;
  height: 713px;
  padding-left: 105px;
}
.difference__block h4 {
  margin-top: 70px;
}
.difference__block h5 {
  margin-top: 30px;
  width: 445px;
}
.difference__block > p {
  margin-top: 8px;
  width: 626px;
}
.difference__block__statistic {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.difference__block__statistic :first-child .statistic__amount span {
  color: #001aff;
}
.difference__block__statistic :first-child .statistic__amount span::after {
  font-family: "Open Sans";
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #001aff;
  content: "+";
  position: relative;
  top: -26px;
  left: -4px;
}
.difference__block__statistic .statistic {
  width: 344px;
  display: grid;
  grid-template-rows: 21px auto;
  grid-template-columns: repeat(2, auto);
}
.difference__block__statistic .statistic__amount {
  margin-right: 25px;
  grid-row: span 2;
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
}
.difference__block__statistic .statistic__amount span {
  font-family: "Open Sans";
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: #f64872;
}
.difference__block__statistic .statistic__title {
  margin-top: 8px;
  font-family: "Open Sans";
  font-size: 1.3333333333rem;
  font-weight: 800;
  line-height: 1.8rem;
  color: #000000;
}
.difference__block__statistic .statistic__text {
  margin-top: 22px;
}

.pricingPlan {
  margin-top: 100px;
  min-height: 100%;
  min-width: 100%;
  background: url("../img/Rectangle25.png") center/cover no-repeat;
}