body {
  margin: 0;
  background: #F9F9F9;
}

header {
  background: #ff9f6a;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 0 10%;
}

.sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: Lobster;
  font-size: 40px;
  margin: 0 0 0 100px;
}

.logo1 {
  margin: 0 0 0 0;
}

.logo2 {
  margin: -20px 0 0 55px;
}

.time {
  background: url("pictures/clock.png") no-repeat;
  padding-left: 46px;
  font-family: Caveat;
  font-size: 30px;
  margin-left: 70px;
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #ff9f6a;
  border-radius: 37px;
  border: 2px solid white;
  height: 46px;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 100px;
}
.basket:hover {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

main {
  width: 1308px;
  margin: 0 auto;
}

h1 {
  font-family: Caveat;
  font-size: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1%;
  margin: 0 auto;
}

.stars {
  width: 115px;
  min-height: 21px;
  background: url("pictures/Star yellow.png");
}

.pizza {
  width: 24%;
  height: 546px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border-radius: 20px;
  padding: 0 20px 0 20px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ffffff;
}
.pizza:hover {
  border: 1px solid #ff0c19;
}

.pizza-img {
  width: 196px;
  height: 196px;
  margin: 10px auto;
  border-radius: 20px;
}

.pizza-h3 {
  margin: 20px 0 10px 0;
  font-size: 30px;
  font-family: Caveat;
}

.text {
  font-family: Lobster;
  margin-bottom: 50px;
}

.buying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy {
  font-family: Caveat;
  border-radius: 50px;
  width: 130px;
  height: 45px;
  background: #ff9f6a;
  border: 0;
  font-size: 23px;
  color: #ffffff;
}
.buy:hover {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.price {
  color: #ff9f6a;
  font-family: Caveat;
  font-size: 25px;
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.order {
  font-family: Caveat;
  font-size: 50px;
  margin-top: 0;
}

.delete-order {
  text-align: right;
}

.pizza-info {
  margin-bottom: 10px;
}

.border {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-many {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 40px;
  border-top: 2px solid #ff9f6a;
  border-bottom: 2px solid #ff9f6a;
  border-left: none;
  border-right: none;
}

.minus {
  margin: 0;
  background: #ff9f6a;
  border: 6px solid #ff9f6a;
}

.plus {
  margin: 0;
  background: #ff9f6a;
  border: 6px solid #ff9f6a;
}

.delete-busket {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.delete-busket:hover .delete-busket-img {
  cursor: pointer;
}

.ta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ta:first-child {
  display: none;
}

.pizza-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pizza-delete {
  padding-top: 20px;
  width: 100px;
}

.delete-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 150px;
}