$pink: #ff9f6a;
$desktop: #F9F9F9;
$white: #ffffff;
body{
  margin: 0;
  background: $desktop;
}
header{
  background: $pink;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 0 10%;
}
.sec1{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo{
  font-family: Lobster;
  font-size: 40px;
  margin: 0 0 0 100px;
}
.logo1{
  margin: 0 0 0 0;
}
.logo2{
  margin: -20px 0 0 55px;
}
.time{
  background: url("pictures/clock.png") no-repeat;
  padding-left: 46px;
  font-family: Caveat;
  font-size: 30px;
  margin-left: 70px;
}
.basket{
  display: flex;
  justify-content: space-around;
  background: $pink;
  border-radius: 37px;
  border: 2px solid white;
  height: 46px;
  width: 200px;
  align-items: center;
  margin: auto 100px;
  &:hover{
    box-shadow: 0px 0px 5px black;
  }
}
main{
  padding: 0 10%;
  width: 1308px;
}
h1{
  font-family: Caveat;
  font-size: 50px;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
}
.stars{
  width: 115px;
  min-height: 21px;
  background: url("pictures/Star yellow.png");
}
.pizza{
  width: 24%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 0 20px 0 20px;
  background: $white;
}
.pizza-img{
  width: 196px;
  height: 196px;
  margin: 10px auto;
  border-radius: 20px;
}
.pizza-h3{
  margin: 20px 0 10px 0;
  font-size: 30px;
  font-family: Caveat;
}
.text{
  font-family: Lobster;
  margin-bottom: 50px;
}
.buying{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.buy{
  font-family: Caveat;
  border-radius: 50px;
  width: 130px;
  height: 45px;
  background: $pink;
  border: 0;
  font-size: 23px;
  color: $white;
}
.price{
  color: $pink;
  font-family: Caveat;
  font-size: 25px;
}